<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobappproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuFormAddress"></activity>
        <activity
            android:name=".AdminTrackingUpdate"
            android:exported="true" />
        <activity
            android:name=".AdminLogin"
            android:exported="true" />
        <activity android:name=".Sign" />
        <activity android:name=".MenuUserSettings" />
        <activity android:name=".MenuOrderPayment" />
        <activity android:name=".MenuPackageDetails" />
        <activity android:name=".MenuOrderConfirmOrder" />
        <activity android:name=".MenuOrderProcess" />
        <activity android:name=".MenuUser" />
        <activity android:name=".MenuTracking" />
        <activity android:name=".MenuAlamat" />
        <activity android:name=".MenuOrderService" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".Loader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>